version: "3.9"

services:
  db:
    image: postgres:17
    container_name: areal_hr_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 888888
      POSTGRES_DB: hr
    ports:
      - "6000:6000"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./api
      dockerfile: ../containers/api/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  app:
    build:
      context: ./app
      dockerfile: ../containers/app/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - api

volumes:
  pgdata:
